
h1{
    text-align: center;
    font-size: x-large;
}

.vie{
   
   font-style: italic;
 font-size: x-large;
font-weight: bold;
    border: solid gold
}

.phrase{
border: solid pink; 
text-align: center;
}


.containerSupreme{
    display: flex;
   
    
    width: 97rem;
    border: solid orange
}

.containerGauche{
    
    width: 28rem;
    border: solid green;
    background-image:url(assets/Drip-Goku.jpg)
}

.MILLIEU{
    border: solid blue;
    width: 60rem;
    background-image: url(assets/combat.gif);
    /* no repeat= pour que le gif ne se duplique pas. position pour centrer pcq sinon vegeta est rogné, */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: cover;
}

.Eric{
border: solid purple;
width: 28rem;
background-image: url(assets/yamcha-more-than-a-meme\ \(1\).png);
background-position: center;


}
img{
    height: 15rem;
    width: 25rem;


}

.descriptionGOKU{
    text-align: center;
}

.yamacha{
    text-align: center;
}



.fight{
    text-align: center;
}

.Attaques{
    height: 10rem;
    width: 20rem;
}

.TitreChifoumi{
    display: flex;
    height: 10rem;
    align-items: center;
   
}

.phrase{
 font-style: italic;
 font-size: x-large;
font-weight: bold;
}

button{
    height: 5rem;
    width: 20rem;
    margin: 1rem;
    background-color:#D67711;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 1rem;
}

.explosion{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#FA0011 ;
    font-size: xx-large;
}

.titre{
display: flex;
justify-content: center;
background-image: url(assets/Dragon_Ball_29.webp);
}

.MILLIEU{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
   
   
}

.result{
    border: solid cyan;
    height: 6rem;
    width: 8rem;
}


.explication{
    font-size: x-large;
   font-style: italic;
   font-weight: bold;
}


.compteur{
    display: flex;
    justify-content: space-between;
}
/* .Ecran{
    border: solid maroon;
    height: 5rem;
    width: 15REM;
} */

